<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | append: " - Divyesh Chotai"  }}</title>
    <link rel="stylesheet" href="/css/writeup-style.css">
    <link rel="stylesheet" href="/css/monokai-sublime.css">
    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</head>
<body>

<div class="main">
    <span class="title"><a href="/">Divyesh Chotai</a></span>
    <br>
    <span class="writeup-text">
    {{ content }}
    </span>
</div>

</body>
</html>
